<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <title>Component</title>
</head>
<body>
    <div id="app1">
        <h1>{{title}}</h1>
    </div>

    <div id="app2">
            <h1>{{title}}</h1>
            <button v-on:click="changeTitle" >Change the title 1</button>
    </div>
    

    <script src="component.js" ></script>
</body>
</html>